<%- include('header') %>

<div class="container">
  <h1><%= newAccount ? __("Create Account") : __("Login") %></h1>
  <form
    action="/login<%= newAccount ? '?newAccount=true' : '' %>"
    method="POST"
  >
    <% if (newAccount) { %>
      <div class="mb-3">
        <label for="name" class="form-label"><%= __("Name") %></label>
        <input type="text" class="form-control" name="name" id="name" value="<%= name %>">
      </div>
    <% } %>
    <div class="mb-3">
      <label for="email" class="form-label"><%= __("Email") %></label>
      <input
        type="email"
        name="email"
        value="<%= email %>"
        pattern="^[a-zA-Z0-9_-]{1,}@[a-zA-Z]+(-[a-zA-Z]+)*\.(com|net|org|edu|gov|io|co|us|uk|de|fr|es|it|jp|br|ca|au|mx)$"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label"><%= __("Password") %></label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
      />
    </div>

    <% if (newAccount) { %>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label"><%= __("Confirm Password") %></label>
        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" />
      </div>
    <% } %>

    <button type="submit" class="btn btn-primary">
      <%= newAccount ? __("Sign Up") : __("Enter") %>
    </button>
  </form>

  <a href="/login<%= newAccount ? '' : '?newAccount=true' %>">
    <%= newAccount ? __("¿Already have an account? Login") : __("¿Create a new Account?") %>
  </a>

  <p class="text-danger"><%= error %></p>
</div>

<%- include('footer') %>
